html, body {
    height: 100%;
}

body {
    background-color: rgb(220, 220, 220);
}

#udidb-app-container {
    height: 100%;
    margin-top: 10px;
}

.statusLine {
    margin-top: 2px;
    margin-bottom: 2px;
}

.footer {
    text-align: center;
}
